/*-------------------------------------*\
  #main.css
\*-------------------------------------*/

/**
 * copyright 2021 @codewithsadee 
 */

/*-------------------------------------*\
  #VARIABLES
\*-------------------------------------*/

/**
 * import variables.css file 
 */

@import url(./variable.css);

/*-------------------------------------*\
  #RESET
\*-------------------------------------*/

/**
 * import reset.css file 
 */

@import url(./reset.css);

/*-------------------------------------*\
  #REPEAT
\*-------------------------------------*/

/**
 * reused style
 */

header,
nav {
  background: var(--rich-black-fogra-29);
}

.navbar,
.banner,
.movies,
.category,
.live {
  padding: 0 var(--px);
}

.section-heading {
  font-size: var(--section-heading);
  font-weight: var(--fw-5);
  margin-bottom: 60px;
}

/*-------------------------------------*\
  #MAIN
\*-------------------------------------*/

/**
 * main container style 
 */

.container {
  max-width: 1440px;
  margin: auto;
}

/*-------------------------------------*\
  #NAVBAR
\*-------------------------------------*/

/**
 * navbar style 
 */

/**
 * navbar navigation style 
 */

/**
 * live indicator style 
 */

.indicator {
  position: relative;
}

.indicator::after {
  content: "";
  background: var(--live-indicator);
  position: absolute;
  top: calc(50% - 1px);
  right: -15px;
  width: 4px;
  height: 4px;
  box-shadow: 0 0 0 2px var(--live-indicator-shadow);
  border-radius: 5px;
}

/**
 * load more button 
 */

.load-more {
  background: var(--oxford-blue);
  display: block;
  padding: 20px 50px;
  margin: auto;
  font-size: var(--fs-sm);
  font-weight: var(--fw-5);
  border-radius: 15px;
  color: var(--white);
}

.load-more:hover {
  background: var(--light-azure);
}
